html, body {
	background-color: black;
	color: white;
}

button {
	outline: 0px;
	border: 0px;
	font-size: 16px;
}

#grid-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 4px;
	grid-template-areas: "a b e"
						 "c b e"
						 "d b e"
}

#defaultCanvas0 {
	outline: 1px solid orange;
	grid-area: b;
}

#info {
	grid-area: a;
}

#fixed-info {
	grid-area: e;
	padding: 4px;
	margin: 4px;
}

#brushSizing {
	grid-area: c;
}

#chooseBrushState {
	grid-area: d;
}

.dropdown-active > div {
	outline: 0px;
	border: 0px;
	font-size: 16px;
	margin: 4px;
}

.dropdown {
	display: grid;
	position: sticky;
}

.dropdown > button {
	background-color: #B6D6B6;
}

.dropdown > button:hover {
	background-color: #E1FFE1;
}

.dropdown-inactive {
	display: none;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown-active {
	display: grid;
	width: 100%;
	position: relative;
	background-color: #A0A0A0;
	color: black;
	gap: 4px;
	text-align: center;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat()
}

.dropdown-active > div {
	margin: 4px;
}

.dropdown-active > button {
	margin: 4px;
}

.dropdown-active > button:hover {
	background-color: #A0A0D6;
}