html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}
canvas {
	outline: 1px solid orange;
}

button {
	font-size: 16px;
}

#grid-wrapper {
	display: grid;
	grid-auto-flow: row dense;
}

#info {
	grid-column: 0;
	grid-row: 0;
}

#brushSizing {
	grid-column: 1;
	grid-row: 0;
}

#chooseBrushState {
	grid-column: 2;
	grid-row: 0;
}

.dropdown-content {
	background-color: #c6c6c6;
	color: black;
	margin: 4px;
	padding: 4px;
}

.dropdown-content > button {
	outline: 0px;
	border: 0px;
	font-size: 16px;
	margin: 4px;
}

.dropdown-content > div {
	outline: 0px;
	border: 0px;
	font-size: 16px;
	margin: 4px;
}

.dropdown {

	position: relative;
}

.dropdown-content {
	display: none;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content:hover {
	color: #FFFFFF;
	background-color: #00A4BD;
}